.complete{
    overflow: hidden;
}

.navbar-nav{
    display: flex;
    gap:30px;
}
.navbar{

    width: 100vw;
    z-index: 1;
    
    }
    .navbar{
        position: sticky;
         top:0px;

    }
#travelbg{
    background-image: url(./travel.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
}
.fuel{
    font-size: 60px;
    color: white;
    font-weight: bolder;

}
.p1{
    font-size: 17px;
    color: white;
}
.home:hover,.services:hover,.contact:hover{
    text-shadow: 2px  2px 5px orange;
}
button:hover{
    opacity: 0.9;
    color: blue !important;
    font-weight:bold ;
}
#cards-3{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card1:hover,.card2:hover,.card3:hover{
    transform: translate(10px,10px);
   
}
#bg-color{
    background-color: blueviolet;
}
ul li{
    list-style-type: none;
}
#links{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.icon1:hover,.icon2:hover,.icon3:hover,.icon4:hover{
    opacity: 0.5;
}
